* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
:root{
    --primary: white ;
    --secondary: black ; 
    --btncolor: rgb(49, 0, 139);
    --btnhover: rgb(219, 128, 255);
    --tablebackground: lightgray;
}

body { 
    background-color: var(--primary);
    color: var(--secondary);
}

/* Header Formatting */
.header-container {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.header-container .viewhigh {
    color: var(--btncolor);
}

.header-container .viewhigh:hover {
    color: var(--btnhover);
    cursor: pointer;
}


/* Page Content Formatting */

.pagecontent {
    display: block;
    align-items: center;
    text-align: center;
}

.pctitle {
    font-size: 42pt;
    font-weight: bolder;
    padding: 20px;
}

.pcbody {
    font-size: 16pt;
    padding: 10px;
}

/* button format */
.pcbutton {
    border: none;
    text-align: center;
    background-color: var(--btncolor);
    border-radius: 10px;
    color: var(--primary);
    font-size: 14pt;
    padding: 10px 15px;
    width: 200px;
    margin: 10px;
}

.pcbutton:hover{
    background-color: var(--btnhover);
    cursor: pointer;
}

.multibuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.multibuttons button {
    width: auto;
    
}
/* input format */
input {
    padding: 5px;
    margin: 10px;
    text-align: center;
}

/* high score table format */
.hsTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-header, .score-list{
    padding: 10px 15px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--btnhover);
}
.score-list{
    background-color: var(--tablebackground);
}

